<div class="main-div">
  <div class="sticky-div">
    <!-- <mat-toolbar class="search-toolbar">
      <div style="display: flex; align-items: center">
        <span class="jobs-span"> <mat-icon>developer_board</mat-icon>Ai Jobs</span>
        <button mat-raised-button color="primary">Add New Job</button>
      </div> -->
    <mat-toolbar class="search-toolbar">
      <span class="jobs-span">
        <mat-icon>developer_board</mat-icon>
        Ai Jobs
      </span>
      <span class="toolbar-spacer"></span>
      <button mat-raised-button color="primary" (click)="addRTJob()">Add New Job</button>
    </mat-toolbar>
    <!-- </mat-toolbar> -->
  </div>
</div>
